{% extends "base.html" %}

{% block title %}Мои объявления{% endblock %}
{% block content %}
<h2>PropertyHunt(PH)</h2>

{% if my_properties %}
    {% for property in my_properties %}
        <div class="property-listing">
            <p><strong>Название:</strong> {{ property.name }}</p>
            <p><strong>Цена:</strong> {{ property.price }}</p>
            <a href="{% url 'the_property' property.id %}" class="details-link">Подробнее</a>
            <a href="{% url 'edit_property' property.id %}" class="edit-link">Редактировать</a>
            <a href="{% url 'index' %}" class="main-page-link">На главную</a>
        </div>
    {% endfor %}
{% else %}
    <p>У вас нет объявлений.</p>
    <br>
    <a href="{% url 'create_property' %}" class="create-link">Создать объявление</a>
{% endif %}
{% endblock %}
