{% extends "base.html" %}

{% block title %}Main page{% endblock %}
{% block content %}

<a href="{% url 'logout' %}" class="manage-button">Выход</a>
<br><br><br>
{% if request.user.role == "OWNER" %}
    <a href="{% url 'my_properties' %}" class="manage-button">Список моих объявлений</a>
    <br><br><br>
    <a href="{% url 'messages_owner' %}" class="manage-button">Мои сообщения</a>
    {% endif %}

<h2>PropertyHunt(PH)</h2>

<form method="get">
    {{ sort_form.as_p }}
    <button type="submit">Сортировать</button>
</form>

<form method="get">
    <div>   
        <label for="min_price">Минимальная цена:</label>
        <input type="number" name="min_price" id="min_price" value="{{ request.GET.min_price|default_if_none:'' }}">
        
        <label for="max_price">Максимальная цена:</label>
        <input type="number" name="max_price" id="max_price" value="{{ request.GET.max_price|default_if_none:'' }}">
        
        <label for="min_area">Минимальная площадь:</label>
        <input type="number" name="min_area" id="min_area" value="{{ request.GET.min_area|default_if_none:'' }}">
        
        <label for="max_area">Максимальная площадь:</label>
        <input type="number" name="max_area" id="max_area" value="{{ request.GET.max_area|default_if_none:'' }}">
        
        <label for="location">Расположение:</label>
        <input type="text" name="location" id="location" value="{{ request.GET.location|default_if_none:'' }}">
    
        <button type="submit">Применить фильтры</button>
    </div>
</form>

{% for property in properties %}
    <div class="property-listing">
        {% if property.photo %}
            <img src="{{ property.photo.url }}" alt="{{ property.name }}" width="200">
        {% endif %}
        <p><strong>Название:</strong> {{ property.name }}</p>
        <p><strong>Цена:</strong> {{ property.price }}</p>
        <a href="{% url 'the_property' property.id %}" class="details-link">Подробнее</a>
    </div>
{% endfor %}
{% endblock %}
