{% extends "base.html" %}

{% block title %}PropertyHunt{% endblock %}
{% block content %}

<header class="header">
    <div class="spacer"></div>
    <div class="logo">PropertyHunt(PH)</div>
    <div class="sidebar">
        <a href="{% url 'logout' %}" class="sidebar-link">Log out</a>
        {% if request.user.role == "OWNER" %}
            <a href="{% url 'my_properties' %}" class="sidebar-link">My properties</a>
            <a href="{% url 'messages_owner' %}" class="sidebar-link">Messages</a>
        {% endif %}
    </div>
</header>

<form method="get">
    {{ sort_and_filter_form.as_p }}
    <button type="submit">Apply</button>
</form>

{% for property in properties %}
    <div class="property-listing">
        {% if property.photo %}
            <img src="{{ property.photo.url }}" alt="{{ property.name }}" width="200">
        {% endif %}
        <p><strong>Название:</strong> {{ property.name }}</p>
        <p><strong>Цена:</strong> {{ property.price }}</p>
        <a href="{% url 'the_property' property.id %}" class="details-link">Подробнее</a>
    </div>
{% endfor %}
{% endblock %}
